In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
#Importing orders combined pickle format
orders_products_combined = pd.read_pickle(r"C:\Users\user\Desktop\Data Analytics\02-12-2023 Instacart Basket Analysis\02 Data\Prepared data\orders_products_combined.pkl")

### Merging

In [3]:
#Checking the shape
orders_products_combined.shape

(32434489, 10)

In [4]:
#Checking output
orders_products_combined.head()

,order_id,user_id,order_number,orders_day_of_week,hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,11.114836,196,1,0,both
1,2539329,1,1,2,8,11.114836,14084,2,0,both
2,2539329,1,1,2,8,11.114836,12427,3,0,both
3,2539329,1,1,2,8,11.114836,26088,4,0,both
4,2539329,1,1,2,8,11.114836,26405,5,0,both

In [9]:
#Importing products csv
df_prods = pd.read_csv(r"C:\Users\user\Desktop\Data Analytics\02-12-2023 Instacart Basket Analysis\02 Data\Prepared data\products_prepared.csv", index_col = 0)

In [10]:
#Checking output
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [11]:
#Merging
orders_products_merged = orders_products_combined.merge(df_prods, on = 'product_id')

In [12]:
#Checking output
orders_products_merged.tail()

,order_id,user_id,order_number,orders_day_of_week,hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices
32404854,1320836,202557,17,2,15,1.000000,43553,2,1,both,Orange Energy Shots,64,7,3.7
32404855,31526,202557,18,5,11,3.000000,43553,2,1,both,Orange Energy Shots,64,7,3.7
32404856,758936,203436,1,2,7,11.114836,42338,4,0,both,"Zucchini Chips, Pesto",50,19,6.9
32404857,2745165,203436,2,3,5,15.000000,42338,16,1,both,"Zucchini Chips, Pesto",50,19,6.9
32404858,3093936,205420,1,4,14,11.114836,28818,8,0,both,Hot Oatmeal Multigrain Raisin,130,14,10.3

In [13]:
#Confirming that we have a full match
orders_products_merged['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [14]:
#Expoting in pickle format due to the size of df
path = r"C:\Users\user\Desktop\Data Analytics\02-12-2023 Instacart Basket Analysis\02 Data"

In [15]:
orders_products_merged.to_pickle(os.path.join(path,'Prepared Data', 'orders_products_merged.pkl'))